.button {
    width: 300px;
    background: #46A358;
    color: #fff;
    border: 1px solid #46A358;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #fff;
    color: #46A358;
}

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    text-decoration: none;
    gap: 10px;
    transition: 0.2s;
}

.social-login:hover {
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.42);
}

h1
 {
    color: rgb(85, 131, 203);
    font-size: 26px;
    text-align: center;
}

h2,
h3 {
    color:blue!important;
    font-size: 20px;
    text-align: center;
}


form,
p
{
text-align: center;
align-items: center;
}


[type="radio"]
{
text-align: center;
}

section p {
    margin: 25px;
}

article section 
{
color: grey;
}

section.social-login
{
text-align: center;
align-items: center;
}

